.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.checkbox-container {
  display: inline-grid;
  .ant-checkbox-wrapper:first-of-type {
    margin-left: 8px;
  }

  .ant-checkbox-wrapper:nth-child(2n) {
    grid-column: 2;
  }
}

.checkbox-group {
  margin-bottom: 20px;
}

.logo {
  display: flex;
  align-content: center;
  margin-bottom: 20px;

  h1 {
    margin: 0;
  }

  img {
    height: 40px;
    margin-right: 20px;
  }
}

.profile-container {
  padding: 20px;
  width: 700px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  display: flex;
  background-color: #fe2c55 !important;
  color: #fff !important;
  border: none;
  min-width: 164px;
  min-height: 36px;
  font-family: "sofiapro-semibold",PingFangSC,sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  width: 208px;
  height: 40px;
  padding: 0;
  margin: 0;
  margin-top: 16px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #FE2C55 !important;
  border-color: #FE2C55 !important;
}
